@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(34, 33, 33);
}

.container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.otsikko {
  font-family: Bebas Neue;
  letter-spacing: 3px;
  line-height: 50px;
  width: 90%;
  margin-top: 30px;
  color: rgb(243, 243, 243);
}

.height {
  font-size: 20px;
  letter-spacing: 3px;

  font-family: Bebas Neue;
  color: white;

  height: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.width {
  font-size: 20px;
  letter-spacing: 3px;
  font-family: Bebas Neue;
  color: white;

  height: 100px;
}

.pituus-value {
  font-family: Bebas Neue;
  font-size: 21px;
  margin-top: 10px;
}

.leveys-value {
  font-family: Bebas Neue;
  font-size: 21px;
  margin-top: 10px;
}
